@charset "utf-8";
html, body{
	background-color:#003056;
	height:100%;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

#container{
	width:800px;
	margin:0 auto;
	background-color:#FFF;
	min-height:100%;
}

#top-banner{
	display:block;
}

hr{
	height: 6pt;
	background-color:#B3B3B3;
	border-width:0;
	margin:0;
}

#bio{
	margin:0;
	padding:0;
	height: 200px;
	background-color:#003056;
	color:#FFF;
}

#bio-text{
	float:right;
	width:620px;
	padding:20px 0px;
	margin:0;
}
#bio-text h2{
	margin:0px 0px 10px 0px;
}
#bio-text p{
	margin:0px;
	line-height:1.3;
}

#course-container{
	margin: 0px 20px;
	padding: 0px;
	color:#003056;
}

#course-container li a{
	font-weight: bold;
}
#course-container li{
	margin: 10px 0px;
}
.toggle{
	display:none;
}

.toggle:target{
	display:block;
	margin: 10px 20px 30px 20px;
}
#footer{
	height:50px;
	width:100%;
}
.code-container{
	width: 660px;
	height:auto;
	margin-left: 0px;
	padding-top: 10px;
	overflow:auto;
	font-size:12px;
}

.code-box{
	width: 320px;
	height: 225px;
	margin: 0px 0px;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	background-color:#003056;
	color:#FFF;
	overflow:scroll;
	white-space:nowrap;
	padding: 0px 10px;
	float: left;
}

.code-box-collage{
	width: 320px;
	height: 420px;
	margin: 0px 0px;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	background-color:#003056;
	color:#FFF;
	overflow:scroll;
	white-space:nowrap;
	padding: 0px 10px;
	float: left;
}

.code-photo{
	width: 300px;
	height: auto;
	padding: 0px 10px;
	height: 225px;
}

.code-photo-collage{
	width: 300px;
	height: auto;
	padding: 0px 10px;
	height: 420px;
}